	<nav class="navbar  navbar-custom">
		<div class="navbar nav">
			<a class="navbar-brand" href="/">
				<img src="{{url_for('static', filename='resources/ibm-logo.png')}}" width="100" height="42" class="d-inline-block align-workspace-title" alt="Logo Watson">
			</a>


			<div class="nav-item nav-link active links">
				<h6 class="link underline">dashboard</h6>
			</div>
			<div class="nav-item nav-link active links">
				<h6 class="link underline">informações</h6>
			</div>
		</div>
	</nav>
